src/main/resources/CassandraBaseConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cassandraBaseConfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="majorVersion" type="xs:unsignedByte"/>
                <xs:element name="preChangeLog">
                    <xs:complexType>
                        <xs:attribute name="path" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="changeLog">
                    <xs:complexType>
                        <xs:attribute name="path" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>