src/main/resources/changeLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="changeLog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="changeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="statement" type="xs:string"/>
                            <xs:element name="rollbackStatement" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="author" type="xs:string" use="required"/>
                        <xs:attribute name="order" type="xs:unsignedByte" use="required"/>
                        <xs:attribute name="consistencyLevel" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>